<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>
   Registro de personal
</title>

{% include "base_administrador.html" %}

{% block admin %}
<div class="layout"> <!-- inicio de toda la pagina desde del body-->

{% if user.is_staff or request.session.tipous == 1 %}
  {% include 'headeradmin.html' %}
  {% include 'menuizquierdoadmin.html' %}
{% endif %}
	<div class="main-wrapper">
    <div class="container-fluid">

{% if messages %}
  {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"  {% endif %}   >
        <button type="button" class="close" data-dismiss="alert">&times;</button>

        <i class="icon-exclamation-sign"></i>
        {{ message }}   
      </div>
  {% endfor %}    
{% endif %}

<!-- Aqui van los roidfluid -->
{% if user.is_staff %}
  <div class="row-fluid ">
        <div class="span12">
          <div class="primary-head">
            <h3 class="page-header"> 
              Personal
            </h3>  
          </div>
          <ul class="breadcrumb">
            <li>
              <a href="/administrador/" class="icon-home"></a>
              <span class="divider ">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Registro de personal</li>
          </ul>
        </div>
      </div>
{% endif %}

    	<div class="row-fluid">
    		<div class="span12">
    			<div class="content-widgets gray">
    				            <div class="widget-head blue">
					              <h3> Registro de personal</h3>
					            </div>
					            <div class="widget-container">
              					<div class="form-container grid-form form-background">

<form name="personal" class="form-horizontal left-align" id="signupForm" method="POST" action="">
	{% csrf_token %}


	                  <div class="control-group">
                    <label class="control-label">Nombre</label>
                    <div class="controls">
                      {{u.first_name}}
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Apellidos</label>
                    <div class="controls">
                      {{u.last_name}}
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                     {{u.email}}
                     
                        <div id="results2"></div>
                    </div>
                  </div>
                <div class="control-group">
                  <label class="control-label">Sexo</label>
                  <div class="controls">
                    {{p.sexo}}             
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Fecha de nacimiento</label>
                  <div class="controls">
                   <div id="datetimepicker4" class="input-append">
                    {{p.fecha_nacimiento}}
                      <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>    
                    </div>         
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Telefono</label>
                  <div class="controls">
                    {{p.telefono}}             
                  </div>
                </div>
                <div class="control-group">
                    <label class="control-label">País</label>
                    <div class="controls">
                      {{p.Pais}}
                    </div>
                  </div>
                 <div class="control-group">
                  <label class="control-label">Estado</label>
                  <div class="controls">
                    {{p.Estado}}
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Ciudad</label>
                  <div class="controls">
               {{p.Localidad}}
     
                  </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Dirección</label>
                    <div class="controls">
                      {{p.direccion}}
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Código postal</label>
                    <div class="controls">
                      {{p.codigo_postal}}
                    </div>
                  </div>

                
                <div class="control-group">
                  <label class="control-label">Seleccion el tipo de usuario</label>
                  <div class="controls">
                  {{p.Tipo_usuario}} 
                  </div>
                </div>
{% if not edit %}
                  <div class="control-group">
                    <label class="control-label">Nombre de Usuario</label>
                    <div class="controls">
                        {{u.username}}                      
	                <div id="results"></div>                        
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label">Contraseña</label>
                    <div class="controls">
                     {{u.password}}
                    </div>
                  </div>
{% endif %}
<span id="spinner" >
                          <img src="{{STATIC_URL}}site_media/spinner.gif"/>
</span>

                  <div class="form-actions">
                    <button id="btnguardar" type="submit" class="btn btn-primary">Registrar</button>
                  </div>

                </form>


					</form>
{% include "footer.html" %}
		  <div class="scroll-top">
		    <a href="#" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
		  </div>
		  

		  </div>
		  </div>
		  	</div>
		  </div>
		  </div>
    </div>
    </div>
</div>

{% endblock %}	